.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
            font-size: 3.5rem;
    }
}

.container-fluid.custom-container {
    padding-right: 10vw;
    padding-left: 10vw;
}

.feature-card {
    border: 1px solid grey;
    text-align: center;
    background-color: #eeeeee;
    vertical-align: middle;
    width: 20em;
}

.feature-card:hover {
    background-color: #dddddd;
    cursor: pointer;
}
